/* line 1, app/assets/stylesheets/style.scss */
:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
    --font-family: "Poppins", system-ui;
    --bg-gradient: linear-gradient(
        to bottom,
        hsl(var(--hue), 95%, 99%),
        hsl(var(--hue), 95%, 84%)
      );
  }
  
  /* line 17, app/assets/stylesheets/style.scss */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* line 23, app/assets/stylesheets/style.scss */
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* line 28, app/assets/stylesheets/style.scss */
  body {
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    background: var(--bg-gradient);
  }
  
  /* line 40, app/assets/stylesheets/style.scss */
  .orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  /* line 50, app/assets/stylesheets/style.scss */
  strong {
    font-weight: 600;
  }
  
  /* line 54, app/assets/stylesheets/style.scss */
  .overlay {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1340px;
    max-height: 640px;
    display: flex;
    text-align: left;
    align-items: center;
  }
  
  /* line 66, app/assets/stylesheets/style.scss */
  .overlay__inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 4rem;
  }
  
  /* line 77, app/assets/stylesheets/style.scss */
  .overlay__title {
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 0.4rem;
  }
  
  /* line 85, app/assets/stylesheets/style.scss */
  .text-gradient {
    color: #3851df;
  }
  
  /* line 89, app/assets/stylesheets/style.scss */
  .overlay__description {
    font-size: 1.3rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }
  
  /* line 96, app/assets/stylesheets/style.scss */
  .overlay__btn {
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
  }
  
  /* line 111, app/assets/stylesheets/style.scss */
  .overlay__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  /* line 116, app/assets/stylesheets/style.scss */
  .overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: 0.75rem;
  }
  
  /* line 124, app/assets/stylesheets/style.scss */
  .overlay__caption {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  
  /* line 131, app/assets/stylesheets/style.scss */
  .overlay__btn-emoji {
    margin-left: 0.375rem;
  }
  
  /* line 135, app/assets/stylesheets/style.scss */
  a {
    text-decoration: none;
    color: var(--dark-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Not too many browser support this yet but it's good to add! */
  @media (prefers-contrast: high) {
    /* line 147, app/assets/stylesheets/style.scss */
    .orb-canvas {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1140px) {
    /* line 153, app/assets/stylesheets/style.scss */
    .overlay {
      padding: 8rem 4rem;
    }
  }
  
  @media only screen and (max-width: 840px) {
    /* line 159, app/assets/stylesheets/style.scss */
    body {
      padding: 1.5rem;
    }
    /* line 163, app/assets/stylesheets/style.scss */
    .overlay {
      padding: 4rem;
      height: auto;
    }
    /* line 168, app/assets/stylesheets/style.scss */
    .overlay__title {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: .5rem;
    }
    /* line 174, app/assets/stylesheets/style.scss */
    .overlay__description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    /* line 182, app/assets/stylesheets/style.scss */
    .overlay {
      padding: 1.5rem;
    }
    /* line 186, app/assets/stylesheets/style.scss */
    .overlay__btns {
      flex-wrap: wrap;
    }
    /* line 190, app/assets/stylesheets/style.scss */
    .overlay__btn {
      width: 100%;
      font-size: 0.75rem;
      margin-right: 0;
    }
    /* line 196, app/assets/stylesheets/style.scss */
    .overlay__btn:first-child {
      margin-bottom: 1rem;
    }
  }
  
  /* line 201, app/assets/stylesheets/style.scss */
  .floating-img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    pointer-events: none;
  }
  
  /* line 212, app/assets/stylesheets/style.scss */
  .flipped {
    -moz-transform: scaleX(-1);
    /* Gecko */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Webkit */
    transform: scaleX(-1);
    /* Standard */
  }
  
  /* line 219, app/assets/stylesheets/style.scss */
  #img-1 {
    top: -10%;
    right: -5%;
    font-size: 8em;
    opacity: 0.5;
  }
  
  /* line 226, app/assets/stylesheets/style.scss */
  #img-4 {
    top: -30%;
    right: 80%;
    font-size: 10em;
    opacity: 0.2;
  }
  
  /* line 233, app/assets/stylesheets/style.scss */
  #img-3 {
    top: 70%;
    right: 10%;
    font-size: 7em;
    opacity: 0.4;
  }
  
  /* line 240, app/assets/stylesheets/style.scss */
  #img-2 {
    top: 60%;
    right: 80%;
    font-size: 7em;
    opacity: 0.3;
  }
  
  /* line 247, app/assets/stylesheets/style.scss */
  .field {
    width: 100%;
    height: 2.5rem;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #DC00E4;
    color: #2E2E2E;
  }
  /* line 3, app/assets/stylesheets/about.scss */
  .container .profile {
    text-align: center;
    margin: 70px 0 60px 0;
  }
  
  /* line 8, app/assets/stylesheets/about.scss */
  .container .profile img {
    width: 15%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid transparent;
    border-spacing: 15px;
    border-collapse: separate;
    background: linear-gradient(45deg, var(--base) 25%, var(--complimentary2));
  }
  
  /* line 25, app/assets/stylesheets/about.scss */
  .container .bio {
    text-align: center;
  }
  
  /* line 28, app/assets/stylesheets/about.scss */
  .container .bio h1 {
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  
  /* line 34, app/assets/stylesheets/about.scss */
  .container .bio h2 {
    font-size: 2.5em;
  }
  
  /* line 38, app/assets/stylesheets/about.scss */
  .container .bio .description {
    font-weight: 400;
    font-size: 1em;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  /* line 48, app/assets/stylesheets/about.scss */
  .container .bio .footnote {
    font-size: 1em;
    font-weight: 500;
  }
  
  /* line 53, app/assets/stylesheets/about.scss */
  .container .bio .divider {
    height: 0.5px;
    background-color: white;
    opacity: 20%;
    margin: 40px 0;
  }
  
  /* line 60, app/assets/stylesheets/about.scss */
  .container .bio .links {
    font-weight: bold;
    margin: 60px 0 20px 0;
  }
  
  /* line 61, app/assets/stylesheets/about.scss */
  .container .bio .links li.black {
    background: black;
  }
  
  /* line 64, app/assets/stylesheets/about.scss */
  .container .bio .links li.black a, .container .bio .links li.black a:hover {
    color: white;
  }
  
  /* line 69, app/assets/stylesheets/about.scss */
  .container .bio .links li {
    display: inline;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px 7px 3px 7px;
  }
  
  /* line 76, app/assets/stylesheets/about.scss */
  .container .bio .links li a {
    display: inline;
  }
  
  /* line 79, app/assets/stylesheets/about.scss */
  .container .bio .links li a span {
    margin-left: 5px;
    vertical-align: top;
  }
  
  /* line 85, app/assets/stylesheets/about.scss */
  .container .bio .links li a:hover {
    color: #1b53d4;
  }
  
  /* line 96, app/assets/stylesheets/about.scss */
  .canvas-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  /* line 101, app/assets/stylesheets/about.scss */
  .canvas-container canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
  }